/* 카테고리별 추천 광고상품 */

* {
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
  width: 100vw;
}

header {
  margin: 100px auto 48px auto;
  width: 90%;
  padding-left: 10%;
  overflow: hidden;
}

h1 {
  margin: 0px;
}

section {
  margin: 0 auto;
  overflow: hidden;
  width: 90%;
}

.section-area {
  width: 79%;
  margin: 0 auto;
  overflow: hidden;
}

h2 {
  margin-bottom: 24px;
}

h2 .h2-eng {
  font-size: 16px;
  line-height: 18.4px;
  font-weight: 500;
}

.h2-ko {
  font-weight: 700;
  font-size: 24px;
  line-height: 27.6px;
}

.h2-ko2 {
  font-weight: 700;
  font-size: 24px;
  line-height: 27.6px;
  color: var(--color-blue-600);
}

article {
  width: 100%;
}

article .article-list {
  display: flex;
}

article {
  margin-bottom: 25px;
}

ul {
  list-style: none;
  border: 2px solid var(--color-brown-300);
  border-width: 2px 0;
}

#ul-b {
  border: 2px solid var(--color-green-700);
  border-width: 2px 0;
}

h3 {
  margin-top: 48px;
  margin-left: 24px;
}

p {
  margin-left: 24px;
}

.keyword-list {
  margin-left: 24px;
  margin-right: 26px;
  margin-bottom: 28px;
}

.list-item {
  border: 1px solid var(--color-gray-500);
  margin-top: 12px;
  padding: 6px 10px;
  text-align: center;
  color: var(--color-brown-300);
  font-size: 12px;
  font-weight: 400;
  line-height: 14.4px;
}

.living {
  font-weight: 500;
  font-size: 24px;
  line-height: 27.6px;
  color: var(--color-brown-300);
}

.go {
  display: inline-block;
  margin-bottom: 248px;
  font-size: 14px;
  line-height: 16.8px;
  font-weight: 700;
  color: var(--color-gray-700);
  position: relative;
}

.go::after {
  content: "";
  position: absolute;
  margin-left: 5px;
  bottom: 2px;
  background: url(/Mission-03/assets/icon/angle-right-default.svg) no-repeat;
  background-color: var(--color-white);
  width: 6px;
  height: 10px;
}

.article-top-mid {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.article-bottom-mid {
  overflow: hidden;
}

.container {
  width: 400%;
  height: 100%;
}

.inner {
  width: 25%;
  height: 100%;
  float: left;
}

.text-box {
  position: absolute;
  border: 1px solid var(--color-brown-300);
  background-color: var(--color-brown-300);
  bottom: 58px;
  left: 50%;
  transform: translateX(-50%);
  width: 260px;
  height: 90px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--color-white);
  font-size: 18px;
  font-weight: 700;
  line-height: 21.6px;
}

.dot-right {
  width: 12px;
  height: 12px;
  position: absolute;
  bottom: 24px;
  right: 140px;
  background-color: var(--color-gray-600);
  border-radius: 50%;
}

.dot-left {
  width: 12px;
  height: 12px;
  position: absolute;
  bottom: 24px;
  left: 140px;
  background-color: var(--color-gray-700);
  border-radius: 50%;
}

#smell {
  display: inline-block;
  margin-top: 8px;
  font-size: 14px;
  line-height: 16.8px;
  font-weight: 200;
}

.article-top-right {
  display: table;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.right-top,
.right-bottom {
  width: 100%;
  display: flex;
}

.right-bottom {
  position: relative;
}

.right-bottom::after {
  position: absolute;
  content: "";
  height: 0.5px;
  top: 0;
  left: -4%;
  right: -0;
  background-color: var(--color-gray-600);
}

.article-top-right img {
  margin: 9px 16px 12px 16px;
}

.top-third img {
  margin-right: 8px;
}

.img-desc,
.img-price {
  width: 152px;
  margin: 0 20px;
}

.img-desc {
  font-size: 14px;
  font-weight: 400;
  line-height: 120%;
}

.img-price {
  margin-top: 12px;
  margin-bottom: 55px;
  font-weight: 700;
  font-size: 18px;
  line-height: 21.6px;
  display: flex;
}

.price-sale {
  margin: 12px 0 4px 20px;
  font-size: 14px;
  line-height: 120%;
  font-weight: 400;
  color: var(--color-red-500);
}

#image-rocket {
  margin: 0 0 0 6px;
}

#sales {
  margin-top: 0;
}

/* 주방용품 (아랫부분)~*/

.article-bottom-left .living-b {
  font-weight: 500;
  font-size: 24px;
  line-height: 115%;
  color: var(--color-green-700);
}

.hot-keywords-b {
  margin-right: 15px;
}

.list-item-b {
  border: 1px solid var(--color-gray-500);
  margin-top: 12px;
  padding: 6px 10px;
  text-align: center;
  color: var(--color-green-700);
  font-size: 12px;
  font-weight: 400;
  line-height: 14.4px;
}

.article-bottom-mid {
  position: relative;
}

.text-box-b {
  position: absolute;
  border: 1px solid var(--color-green-700);
  background-color: var(--color-green-700);
  bottom: 58px;
  left: 50%;
  transform: translateX(-50%);
  width: 260px;
  height: 90px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--color-white);
  font-size: 18px;
  font-weight: 700;
  line-height: 21.6px;
}

.dot-left-b {
  width: 12px;
  height: 12px;
  position: absolute;
  bottom: 24px;
  left: 140px;
  background-color: var(--color-gray-700);
  border-radius: 50%;
}

.dot-right-b {
  width: 12px;
  height: 12px;
  position: absolute;
  bottom: 24px;
  right: 140px;
  background-color: var(--color-gray-600);
  border-radius: 50%;
}

.article-bottom-right img {
  margin: 9px 16px 12px 16px;
}

.won {
  font-size: 14px;
  font-weight: 400;
  display: inline-block;
  margin-left: 3px;
}
