.black-bg {
  background-color: black;
  width: 100%;
  height: 100%;
  z-index: 6;
  padding: 30px;
  opacity: 0;
  position: fixed;
  visibility: hidden;
  transition: all 1s;
}

h4 {
  font-size: 16px;
  font-weight: 700;
  color: black;
}

.white-bg {
  color: black;
  background-color: #fff;
  width: 30%;
  padding: 10px 20px;
  border-radius: 5px;
}

.btn-danger {
  background-color: red;
  color: white;
  border-radius: 5px;
  border: none;
}

.show {
  visibility: visible;
  opacity: 0.5;
}

/* one-way 애니메이션 짜는법
1. 시작스타일
2. 최종스타일
3. 원할 때 최종스타일로 변하라고함
4. transition 추가 (시작지점에) 
애니메이션 사용시 display none 보단 visibility hidden 써야함*/

.slide-container {
  width: 300vw;
  transition: all 1s;
}

.slide-box {
  width: 100vw;
  float: left;
}

.slide-box img {
  width: 100%;
}
